<%= bootstrap_form_with model: dream, url: url, local: true do |f| %>
    <%= render 'error_explanation', dream: dream %>
    <%= f.hidden_field :user_id, value: current_user.id %>

    <%= f.text_field :title, label: "Title:" %>
    <br>

    <%= f.text_area :content, size:"100x10", label: "Content:" %>
    <br>
    <p>
      <%= f.label "Type:" %>
      <%= f.radio_button :dream_type, "Standard", checked: true %>
    
      <%= f.radio_button :dream_type, "Lucid" %>

      <%= f.radio_button :dream_type, "Reoccurring" %>

      <%= f.radio_button :dream_type, "Nightmare" %>

      <%= f.radio_button :dream_type, "False Awakening" %>

      <%= f.radio_button :dream_type, "Sleep Paralysis" %>

      <%= f.radio_button :dream_type, "Night Terror" %>

    </p>
    <p>
      <%= f.label "Make Public?" %><br>

      <%= f.radio_button :is_public, true, value: true, label: "Yes"%>      

      <%= f.radio_button :is_public, false, checked: true, value: false, label: "No" %>
    </p>
  <%= f.submit %>
  
<% end %>
<br>