<div class="container">
    <br>
    <div class="card text-white bg-dark mb-3">
          <h2 class="card-header"><%= @dream.title %></h2>
          <div class="card-header">Type: <%= @dream.dream_type %></div>
          <div class="card-header">Content</div>
          <div class="card-body"><%= @dream.content %></div>
    </div>
    <% if @dream_symbolisms.any? %>

        <div class="card text-white bg-dark mb-3" style="max-width: 75%rem;">
            <h5 class="card-header">Symbols:</h5>

            <% @dream_symbolisms.each do |dream_symbol| %>
                <h5 class="card-header"><%= link_to icon('fas', 'dragon') + " " + dream_symbol.symbolism.name, symbolism_path(dream_symbol.symbolism) %></h5>
                <div class="card-body">
                    <div class="card-text"><%= dream_symbol.meaning %></div>
                    
                    <% if @dream.user == current_user %>
                        <small>
                        <%= link_to icon('fas', 'edit') + " Edit", edit_user_dream_dream_symbolism_path(current_user, @dream, dream_symbol) %>
                        <%= link_to icon('fas', 'trash-alt') + " Delete", user_dream_dream_symbolism_path(current_user, @dream, dream_symbol), method: :delete, data: {confirm: "Are you sure you want to delete #{dream_symbol.name}?"} %>
                        </small>
                    <% end %>
                </div>
            <% end %>
        </div>

    <% end %>
    <br>

    <% if @dream.user == current_user %>
        <h3>Public: <%= @dream.is_public ? "Yes" : "No" %></h3>
        <br>
        <%= button_to "Edit", edit_user_dream_path(@dream.user, @dream), method: :get, class: "btn btn-secondary" %>
        <br>
        <%= bootstrap_form_with method: :delete, url: user_dream_path(@dream.user, @dream) do |f| %>
            <%= f.submit "Delete", data: { confirm: 'Are you sure you want to delete this dream?' } %>
        <% end %>
        <br>
        <h3>Add Symbols to <%= @dream.title %></h3>
        <%= bootstrap_form_with method: :get, url: new_user_dream_dream_symbolism_path(current_user, @dream), local: true do |f| %>
            <%= f.number_field :number, min: "1", required: true, label: "How many symbols would you like to add?" %>
            <%= f.submit "Add Symbols" %>
        <% end %>
        <br>
    <% end %>
    
<br>
    
</div>