<div class="container">
  <h1><%= link_to icon("fab", "google")+" Login with Google", "/auth/google_oauth2", class: "btn btn-secondary"%></h1>

  
  <h1>Login with Email</h1>
  <%=  bootstrap_form_with url: "/login", method: :post do |f|%>
 
    <%= f.email_field :email, label: "Email:" %>

    <%= f.password_field :password, label: "Password:" %>

    <%= f.submit "Log In" %>
  <% end %>
  <br>
</div>
