<div class="container">
  <h1>Login with Google</h1>
  <%= link_to(image_tag("/images/btn_google_signin_dark_normal_web.png"), "/auth/google_oauth2") %>
  <h1>Login with Email</h1>
  <%=  bootstrap_form_with url: "/login", method: :post do |f|%>
 
    <%= f.email_field :email, label: "Email:" %>

    <%= f.password_field :password, label: "Password:" %>

    <%= f.submit "Log In" %>
  <% end %>
  <br>
</div>
