<div class="container">
    <br>
    <h1>Editing <%= @dream_symbolism.name %></h1>
    <%= bootstrap_form_with model: @dream_symbolism, local: true do |f| %>
    
            <%= f.fields_for :symbolism, @dream_symbolism.symbolism do |sf| %>
                <%= sf.text_field :name, label: "Name:" %>
            <% end %>

        <%= f.text_field :meaning, label: "Meaning:" %>

        <%= f.submit  "Update #{@dream_symbolism.name}" %>
    <% end %>
    <br>
</div>