<div class="container">
    <br>
    <h1>Editing <%= @dream_symbolism.name %></h1>
    <%= bootstrap_form_with model: @dream_symbolism, local: true do |f| %>
    
        <%= f.collection_select :symbolism_id , Symbolism.all, :id, :name, include_blank: true, label: "Existing Name:" %>
            <%= f.fields_for :symbolism, Symbolism.new do |sf| %>
                <%= sf.text_field :name, label: "New Name:" %>
            <% end %>

        <%= f.text_field :meaning, label: "Meaning:" %>

        <%= f.submit  "Update #{@dream_symbolism.name}" %>
    <% end %>
    <br>
</div>