<%= form_with model: @user do |f| %>
  <div class="form-group">
    <%= f.label :email, "Email:" %><br>
    <%= f.email_field :email %>
  </div>
  <div class="form-group">
    <%= f.label :password, "Password:" %><br>
    <%= f.password_field :password %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation, "Password Confirmation:" %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <%= f.submit "Sign Up" if !logged_in? %>
  <%= f.submit "Edit" if logged_in? %>
<% end %>